@import './settings/variables.css';

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/** GLOBAL */
@import './has.css';

/** DEFAULT FOR EXAMPLE */
@import './default.css';
